<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="admin">
	<select id="login" resultType="hashmap">
		select * from member where id=#{id} and password=#{password}
	</select>
	<!--  관리자 -->
	<select id="boardid" resultType="hashmap">
		select * from board where writer=#{id} order by red desc
	</select>
	<select id="boardNo" resultType="hashmap">
		select * from board where no=#{no}
	</select>
	<select id="boardAll" resultType="hashmap">
		select * from board order by red desc
	</select>
	<select id="read" resultType="total.domain.BoardVO">
		select
		*
		from
		board
		where no = #{no}
	</select>
	
	
	<!-- 삭제 -->
	<delete id="delete">
		delete from board where no = #{no}
	</delete>

	<!-- 레드카드 3이하일 때 -->
	<update id="updateLv">
		update member set redcard = redcard+1 where id=#{id}
	</update>
	
	<!-- 레드카드 3일 때 0으로 -->
	<update id="updateLv2">
		update member set redcard = 0, lv=2, stoptime=sysdate where id=#{id}
	</update>
	<!-- lv이 2이상일때 stoptime 변경 -->
	<update id="updateStoptime">
		update member set stoptime=sysdate where id=#{id}
	</update>
	
	<!--  시간이 지남으로써 다시 lv =0으로 -->
	<update id="updateLv4">
		update member set lv =0,stoptime=null where id=#{id}
	</update>
	
	<!-- 유저의 레드카드수 -->
	<select id="selectRedcard" resultType="hashmap">
		select * from member where id=#{id}
	</select>
	
	<!-- 게시글의 타이틀 -->
	<select id="selectTitle" resultType="string">
		select title from board where no=#{no}
	</select>
	
	<!-- 신고이유보기 -->
	<select id="selectReport" resultType="hashmap">
		select * from report where no = #{no}
	</select>
	
 	<!-- 신고글 삭제 -->
	<delete id="reportRemove">
		delete from report where no = #{no}
	</delete> 
	
	<!-- 신고글이 더이상 없을시의 report변경-->
	<select id="board" resultType="hashmap">
		select * from board where writer =#{id} and red='Y'
	</select>
	<update id="report">
		update member set report='N' where id=#{id}
	</update>
	<update id="boardred">
		update board set red='N' where no = #{no}
	</update>
	
	
	<delete id="deleteReport2">
		delete from report where rno in
		<foreach collection="rno" item="n" open="(" close=")" separator=",">#{n}</foreach>
	</delete>
	
	<delete id="deleteReport3">
		delete from report where rno in #{rno}
	</delete>
	
	<select id="selectReportAll" resultType="hashmap">
		select * from report where rno=#{rno}
	</select>
	
	<select id="selectCntrp" resultType="int">
		select count(*) from report where no=#{no}
	</select>
</mapper>