<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="getBox">

	<select id="getMsgById" resultType="hashmap">
		select * from getmessage where getid=#{getid} order by (regdate) desc
	</select>
	
	<select id="getOneByNo" resultType="hashmap">
		select * from getmessage where no = #{no}
	</select>
	
	<select id="getNewMsgCntById" resultType="Integer">
		select count(*) from getmessage where (getid=#{getid} and readcheck ='N')
	</select>
	
	<insert id="send">
		insert into getmessage values(#{no}, #{sendid}, #{title}, #{msg}, 'N', sysdate, #{getid})
	</insert>
	
	<update id="updateReadCheck">
		update getmessage set readcheck = 'Y' where no = #{no}
	</update>

	<delete id="delMsgByNo">
		delete from getmessage where no in
		<foreach collection="no" item="n" open="(" close=")" separator=",">#{n}</foreach>
	</delete>
</mapper>