<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="report">
<insert id="insert" >


insert into report (rno, no, title, btitle, reason )
values(report_seq.nextval,#{no}, #{title}, #{btitle},#{reason})
</insert>

<delete id="delete" >

delete from report where no=#{no}


</delete>


</mapper>