<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="search">
	
	<select id="boardNo" resultType="total.domain.BoardVO">
		select * from board where no= #{no}
	</select>
	
	<select id="type" resultType="hashmap">
		select * from board where type= #{type}
	</select>
	
	<select id="word" resultType="hashmap">
	select * from board where title like #{word1} or  BOOKNAME like #{word2} or TYPE like #{word3}
	</select>
	
</mapper>

